html{
    font-family:Helvetica;
    color:#F05D23;
}

input[type="submit"]{
    color:#F05D23;
    width: 90%;
}

body{
    margin:0;
    padding:0;
    background-color:#261C15;
    background-image: url(../img/fondoCutre.png);
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:contain;
    min-height:100vh;
    overflow:hidden;
}

body:after{
    content:'';
    display:block;
    position:absolute;
    width:129px;
    height:137px;
    background:url(../img/perritoPerito.png);
    top:15%;
    right:5%;
    z-index: 999;
    background-size: contain;
    animation: perritoPerito 2s infinite;
}

@keyframes perritoPerito {
    0%   {transform:rotate(0);}
    24%   {transform:rotate(0);}
    25%   {transform:rotate(45deg);}
    49%   {transform:rotate(45deg);}
    50%   {transform:rotate(0);}
    74%   {transform:rotate(0);}
    75%  {transform:rotate(-45deg);}
    100%  {transform:rotate(-45deg);}
}


section{
    text-align: center;
    background-color:#E4E6C3;
    padding: 35px 0 5px;
    margin: 20px 0;
}

section h1{
    font-weight:bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
    z-index: 1000;
    position: absolute;
    top: 31px;
    left: 40px;
}

form input,
form label{
    display:inline-block;
    vertical-align:middle;
}

form fieldset{
    border:0;
    height: auto;
    margin:0;
    padding: 20px 0 30px;
}

form fieldset:after{
    content:'';
    display:none;
    vertical-align: middle;
    height:100%;
    width:1px;
}

form input[type="checkbox"],
form input[type="radio"]{
    display:none;
}

form input[type="checkbox"]+label,
form input[type="submit"]{
    padding:10px;
    border-radius:25px;
    cursor:pointer;
    margin:0;
    border: 0;
    border: 1px solid #000000a1;
    background-color:#261C15;
}

form input[type="submit"]{
    width:100%;
    border-radius:0;
    text-transform: uppercase;
}

form input[type="checkbox"]+label,
form input[type="radio"]+label{
    position:relative;
}

form input[type="checkbox"]+label:before,
form input[type="radio"]+label:before{
    content:'';
    display:inline-block;
    width:30px;
    height:30px;
    background-color:#b33434;
    border-radius:50%;
    position:absolute;
    left: -35px;
    top: 5px;
    border: 1px solid #000000a1;
    box-sizing: border-box;
    cursor:pointer;
}

form input[type="checkbox"]:checked+label:before,
form input[type="radio"]:checked+label:before{
    background-color:#9bcc3b;
}

fieldset.subform input[type="checkbox"]+label:first-child,
fieldset.subform input[type="radio"]+label:first-child{
    margin-bottom: 20px;
}

fieldset.subform input[type="checkbox"]+label:not(:first-child):not(:last-child){
    margin-right:20px;
}
fieldset.subform input[type="radio"]+label:not(:first-child):not(:last-child){
    margin-right:35px;
}

fieldset.subform input[type="checkbox"]+label:not(:first-child):not(:last-child):before,
fieldset.subform input[type="radio"]+label[for="1000"]:before,
fieldset.subform input[type="radio"]+label:not(:first-child):not(:last-child):before,
fieldset.subform input[type="radio"]+label[for="hormigon"]:before{
    margin-left:10px;
}

fieldset:not(.subform):not(.subform):not(.subform):not(.subform):not(:last-child) > label{
    margin-bottom:20px;
}

fieldset > div{
    display:inline-block;
    width:55%;
    text-align:left;
}

fieldset > div > label:first-child{
    min-width:250px;
}

fieldset > div:not(:last-of-type){
    margin-bottom:15px;
}

fieldset select{
    background-color:#261C15;
    padding:8px;
    border-radius: 15px;
    color:#F05D23;
    outline: none;
}

.textcenter{
    text-align:center;
}

fieldset.subform input[type="checkbox"]+label,
fieldset.subform input[type="radio"]+label{
    width:0;
    height:0;
    background-color: transparent;
    border: 0;
    vertical-align: middle;
    display: inline-block;
}

fieldset.subform input[type="checkbox"]+label:before,
fieldset.subform input[type="radio"]+label:before{
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}

fieldset.subform input[type="radio"]+label:before{
    top: -10px;
}

.shapes div{
    background-color:#C5D86D;
    position:absolute;
}

.shapes .shape1{
    left: 20px;
    top:0;
    width:75px;
    height:100vh;
}

.shapes .shape2{
    left:0;
    top: 30px;
    width:100vw;
    height:30px;
}

.shapes .shape3{
    right:50px;
    top:0;
    width:40px;
    height:100vh;
}

article:not(.show){
    display:none;
}

article.show{
    margin:25px 0;
}

article+a{
    display:block;
    width:100%;
    color:#F05D23;
    background-color:#261C15;
    padding:8px;
    text-decoration: none;
}
